html, body {
    height: 100%;
    margin: 0;
    background: #00C9FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;

    .fa-plus:hover {
        cursor: pointer;
    }
}



.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;

    &:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;

    &:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;

    li {
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
        cursor: pointer;
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.channel-item {
    position: relative;

    .fa-times-circle {
        color: white;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.15em;
    }
}



.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;

    span {
        font-size: 20px;
        color: white;
    }

    p {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
    }
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #FFF;
    padding: 10px;
    position: relative;
    min-width: 80px;
    text-align: center;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -35px;
    color: #FFF;
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;

            i {
                padding-right: 10px;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media (max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

.remove-from-flow {
    display: none;
}